<div class="banner">
    <div class="title">
        <h1><strong>Task Manager</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, alias esse cupiditate earum.</p>

        <%= link_to "Get Started", tasks_path %>
    </div>
    <div>
        <%= image_tag("checklist.png", :alt => "") %>
    </div>
</div>