@import "bootstrap/scss/bootstrap";

.container{
    width: 800px;
    margin: 0 auto;
    padding: 16px 16px;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    list-style: none;
}